.content-box-bg{
    padding: 0 7rem;
}
img{
    width: 100%;
    height: 100%;
}
.single-product-right{
    width: 37%;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
}
.single-product-left{
    width: 60%;
}
.single-product-card{
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #eee;
    width: 90%;
    position: relative;
}
.single-product-card::after{
    content: '';
    position: absolute;
    top: 256px;
    left: 0;
    height: 1.5px;
    width: 100%;
    background-color: #eee;
}
.single-product-card-img{
    height: 255px;
    width: 75%;
    margin: 0 auto;
}
.single-product-price .price-now{
    font-size: 1.2rem;
    font-weight: bold;
}
.single-product-price .price-old{
    color: #999;
}
.single-product-pack-size,.single-product-unit-count{
    width: 45%;
}
.single-product-pack-size p ,.single-product-unit-count p{
    font-size: .75rem;
    font-weight: 800;
    color: #777;
    margin-bottom: 3px!important;
}
.single-product-pack-size .box ,.single-product-unit-count .box{
    border-radius: 4px;
    border: 1px solid #eee;
    padding: 8px;
    font-size: .75rem;
    color: #111;
    font-weight: 600;
}
.add-to-cart-btn{
    color: #fff;
    background-color: #14BEF0;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin-top: 17px;
}
.add-to-card-inc-dec-wrapper{
    margin-top: 17px;
}
.inc-dec-btn, .view-cart-btn{
    width: 45%;
}
.inc-dec-btn{
    border: 1px solid #14BEF0;
    /* box-sizing: content-box; */
}
.inc-dec-btn span{
    display: inline-block;
    width: 32.5%;
    text-align: center;
    height: 41px;
    line-height: 41px;
}
.inc-dec-btn .dec,.inc-dec-btn .inc{
    font-size: 1.5rem;
    color: #14BEF0;
}
.inc-dec-btn span:nth-child(2){
    background-color: #14BEF0;
    color: #fff;
    font-size: .9rem;
}
.view-cart-btn{
    color: #fff;
    background-color: #14BEF0;
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    position: relative;
}
.inc:hover,.dec:hover{
    cursor: pointer;
}
.cart-tag{
    display: inline-block;
    text-align: center;
    font-size: 8px;
    background-color: #fff;
    color: #14BEF0;
    width: 15px;
    height: 15px;
    line-height: 15px;
    position: absolute;
    top: 7%;
    left: 25%;
    font-weight: bold;
}
.product-name h3{
    color: #111;
    font-weight: 700;
    font-size: 1.4rem;
}
.product-sub-title h5{
    color: #111;
    font-weight: 600;
}
.manufactured-name .manufactured-title{
    color: #aaa;
}
.highlights-ul{
    padding-left: 3px;
    list-style: none;
}
.highlights-ul li::before {
    color: #aaa;
    content: "\2022";
    display: inline-block;
    margin-right: 7px;

}
.report-error:hover{
    cursor: pointer;
}
.bottom-bdr{
    border-bottom: 1px solid #eee;
}
.btn{
    background-color: #14BEF0;
    color: #fff;
    padding: 8px;
}
